extends layout

block content
    body
        div(class='container')
            h1 Side A
            div(id='sideA')
                p #{cardData[0].sideA}
                a(class='button' id='showSide')
            
            div(id='sideB')
            