extends layout

block content
    body
        div(class='container')
            div(id='sideA')
                h1 Side A
                p #{cardData[0].sideA}
            script.
                function showB() {
                    document.getElementById('sideB').style.display=('block')
                    }
            button(href='#' onclick='showB()') Show Side B
            div(id='sideB')
                h1 Side B
                p #{cardData[0].sideB}
            