extends layout

block content
    body
        div(class='container')
            div(id='sideA')
                h2 Side A
                p #{cardData[0].sideA}
            script.
                function showB() {
                    document.getElementById('sideB').style.display=('block')
                    document.getElementById('sideBbutton').style.display=('none')
                    }
                    
            button(href='#' id='sideBbutton' onclick='showB()') Show Side B
            div(id='sideB')
                h2 Side B
                p #{cardData[0].sideB}
            